<div class="app-banner">
  <div class="container app-banner__text">
    <h1 class="center-align app-banner__text--title">Welcome to Shut-App!</h1>
    <h3 class="center-align app-banner__text--description">To start, select an option <strong>chat</strong> from the menu</h3>
  </div>
</div>